<div id="modalInventory" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalInventoryLabel" aria-hidden="true">
  <div class="modal-header" style="height: 44px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <%if $path == "/inventories"%>
      <h3 id="modalInventoryLabel">Crear Inventario</h3>
    <%else%>
      <h3 id="modalInventoryLabel">Editar Inventario</h3>
    <%end%>
    <hr>
  </div>
  <div id="errors" class="hide" style = "float: right">
  </div>
  <%= simple_form_for([@inventory], remote: :true, html: {style: "margin-bottom: 0px"}) do |f|%>
    <div class="modal-body">
      <%= f.input :site, label: "Lugar de ubicación" %>
      <%= f.input :details, :input_html =>{:rows => 3}, label: "Detalles"%>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.button :submit , 'Aceptar', class: "btn btn-primary" %>
      <%end%>
    </div>
</div>