<fieldset>
    <legend>Edit Inventory</legend>
	<div class= "form_inventory">
		<%= render 'form'%>
		<%=link_to "Regresar al inventario", inventory_path(@inventory), class: "btn"%>
	</div>
</fieldset>