<fieldset>
    <legend>Create Inventory</legend>
	<div class= "form_inventory">
		<%= render 'form'%>
		<%=link_to "Back To All Inventory", user_inventories_path(current_user), class: "btn"%>
	</div>
</fieldset>