<% if @inventory.errors.messages.blank? %>
  <% if $path == "/inventories" %>
		location.href = '<%inventories_path %>'  
	<% else %>
	  location.href = '<%inventory_path(@inventory)%>'
	<% end %>
<% else %>
  <%
  error = '<ul>'
  @inventory.errors.messages.each do |msg|
    error += "<li>#{I18n.t(msg[0])} #{msg[1].first}</li>"
  end
  error += "</ul>"
  %>
  $('div#errors_edit_<%=@inventory.id%>').html('<%= error.html_safe %>').show();
<% end %>