<%= title "No permitido -  Stocktaking" %>
<div class="jumbotron">
  <h1>Lo Sentimos</h1>
  <p class="lead">No tienes permiso para ingresar a esta página</p>
  <p class="lead">Contacta al administrador</p>
  <a><%=link_to "Inicia sesión para Empezar", new_user_session_path, class: "btn btn-large btn-success"%></a>
</div>